<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<div class="row text-center">
    <div class="col-sm-offset-0 col-md-4"></div>
    <div class="col-sm-12 col-md-4">
        <h4>Research | Recherche</h4>
        {% include print_contact.html contact=site.contacts.research %}
        <div id="map"></div>
        <br />
    </div>
    <!--{% comment %}
        Warning: When you uncomment: change other sections size to sm-6 and md-3
    <div class="col-sm-6 col-md-3">
        <h4>Teaching | Enseignement</h4>
        {\% include print_contact.html contact=site.contacts.teaching %}
        <br/>
    </div>{% endcomment %}-->
    <!-- Openstreemap map -->
    <!-- <div class="col-sm-offset-0 col-md-4"></div>
    <iframe width="425" height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.6030571460723877%2C44.80685528246299%2C-0.5966171622276307%2C44.8098238718482&amp;layer=mapnik"
        style="border: 1px solid black"></iframe><br /><small><a
            href="https://www.openstreetmap.org/?#map=19/44.808340/-0.599837">Afficher une carte plus grande</a></small> -->
</div>
<script>
        // Where you want to render the map.
        var element = document.getElementById('map');

        // Height has to be set. You can do this in CSS too.
        element.style = 'height:300px;';

        // Create Leaflet map on map element.
        var map = L.map(element);

        // Add OSM tile layer to the Leaflet map.
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Target's GPS coordinates.
        var target = L.latLng('44.808341', '-0.599837');

        // Set map's center to target with zoom 14.
        map.setView(target, 14);

        // Place a marker on the same location.
        L.marker(target).addTo(map);        
</script>  
