<div class="row">
    <h2><span class="text-primary">Activities</span></h2>
    <p class="text-justify"></p>
    I try to commit to activities related to gender equality and inclusion in Academia and in particular in computer science. 

    <p class="text-muted">
    <ul style="float:justify;">
        <li>Starting from 2023, I am a member of the national <a href="http://parite.inria.fr/fr/">committe for gender equality and inclusion</a> at Inria. I am involved in several working groups: "communication", "preventing harassment and gender-related violence", and I lead the working group "inclusion in the work environment".</li>
        <li>Starting from 2022, I co-founded and am a member of the local <a href="https://project.inria.fr/pariteegalitebordeaux/en/">working group for gender equality, diversity and inclusion</a> at Inria Bordeaux.</li>
    </ul>
    </p>
</div>

<div class="row">
    <h2><span class="text-primary">Resources</span></h2>
    Here are some resources related to gender equality and inclusion
    <p class="text-muted">
    <ul style="float:justify;">
        <li>Harassment prevention at Inria Bordeaux: check the <a
                href="https://project.inria.fr/pariteegalitebordeaux/en/prevention-des-harcelements/">resources</a>.</li>
        <li> Gender equality at the <a href="https://www.ins2i.cnrs.fr/fr/parite-egalite-femmes-hommes">CNRS computer science department</a>.</li>
        <li>Resources to <a href="https://www.haut-conseil-egalite.gouv.fr/IMG/pdf/guide_egacom_sans_stereotypes-2022-versionpublique-min-2.pdf">prevent
            gender stereotypes in French language</a>, from the French High Council for gender equality.</li>
        <li>Equality, Diversity and Inclusion at the <a
                href="https://www.labri.fr/enjeux-societaux/equite-diversite-et-inclusion">computer science laboratory</a> from
            Univ. Bordeaux</li>
        <li>Equality, Diversity and Inclusion at the <a
                href="https://www.math.u-bordeaux.fr/imb/mission-parite">mathematics laboratory</a> from
            Univ. Bordeaux</li>
    </ul>
    </p>
</div>
