<div class="row">
    <h2><span class="text-primary">Activities</span></h2>
    <p class="text-justify"></p>
    I participate in several outreach activities. I created unplugged computer science resources for teaching metagenomic assembly and metabolic modelling. All the content is available on <a href=" 
    https://github.com/cfrioux/outreach">GitHub</a>. 
    
    <p class="text-justify"></p>
    Below are some of the activities I am/was involved in:

    <p class="text-muted">
    <ul style="float:justify;">
        <li>Starting in 2023, I participate to  <a href="https://www.labri.fr/en/actualites/mimm-moi-informaticienne-moi-mathematicienne">MIMM - Moi Informaticienne, Moi Mathématicienne</a>. MIMM is a free internship at the University of Bordeaux for young girls in 9th and 10th grade in order to encourage them to choose mathematics and computer science, allows them to discover training, research and jobs in these two disciplines. I designed
        and teach a workshop during the week.</li>
        <li>From 2021 I have been participating to the <a href="https://chiche-snt.fr/1-scientifique/">Chiche ! 1 scientifique, 1 classe</a> project that organises visits of a scientist in high schools in order to advertise academic careers and computer science research while deconstructing stereotypes. I visit several classes every year.</li>
        <li>In 2023, I wrote an outreach article with Simon Labarthe on metabolic modelling for a better understanding of microbial communities, available on  <a href="https://interstices.info/modeliser-les-communautes-bacteriennes-pour-mieux-comprendre-leur-fonctionnement/">)i( interstices</a>.</li>
        <li>In 2019 I participated to the <a href="https://norwichsciencefestival.co.uk/about/norwich-science-festival-2019/">Norwich Science Festival</a>, with a joint presentation of research on the gut microbiota by scientists of the Quadram Institute and the Earlham Institute, Norwich, UK</li>
        <li>In 2019, I participated to the <a href="http://www.irisa.fr/fr/actus/jpeux-pas-jai-informatique-1">J'peux pas, j'ai informatique</a> (IRISA, Rennes, France) an awareness day for secondary school children (12-13 years old) in order to present careers in computer science and jobs in Academia. A special focus is made on the deconstruction of gender stereotypes wrt computer science.</li>
    </ul>
    </p>
</div>

<div class="row">
    <h2><span class="text-primary">Resources</span></h2>
    <p class="text-muted">
    <ul style="float:justify;">
        <li>Outreach at the Inria center of the University of Bordeaux: see the webpage of <a
            href="http://emmanuellesaillard.fr/mediation/">Emmanuelle Saillard</a>.</li>
        <li>Great unplugged computer science activities on the webpage of <a href="https://members.loria.fr/MDuflot/files/mediation.html">Marie Duflot-Kremer</a> (in French).</li>
        <li>Outreach articles related to computer science on <a href="https://interstices.info"> )i( interstices</a>.</li>
    </ul>  
    </p>
</div>