<dl class="dl-horizontal">
    {% for grouping in include.items %}
    <div class="row">
        <h2><span class="text-primary">{{ grouping.year }}</span></h2>
        {% for item in grouping.values %}
        <dl class="dl-horizontal">
            <dt>
                [{{ item.month }} {{ grouping.year }}]
            </dt>
            <dd>
                <span class="text-primary"><strong>{{ item.type }}</strong></span><br />
                <em>{{ item.name }}</em>
            </dd>
            <br />
        </dl>
        {% endfor %}
    </div>
    {% endfor %}



    <!-- {% for category in include.misc %}
    <h3>{{ category.name }}</h3>
    <dl class="dl-horizontal">
        {% for activity in category.values %}
        <dt>{{ activity.period }}</dt>
        <dd>
            <span class="text-primary"><strong>{{ activity.name }}</strong></span><br />
            {{ activity.at }}<br />
            <em>{{ activity.role }}</em>
        </dd>
        {% endfor %}
    </dl>
    {% endfor %} -->