<div class="row">
    <h2><span class="text-primary">Tutorial on Metabolic modelling</span></h2>
    <p class="text-justify"></p>
    I participated to the <a href="https://maignienlab.gitlab.io/ebame/">EBAME workshop on Computational Microbial Ecogenomics</a> in 2023, where I gave a tutorial on metabolic modelling for microbial communities. The tutorial is freely available on <a href="https://gitlab.inria.fr/ebame/ebame2023/-/tree/master/tutorials/metabolic-modelling">Gitlab</a> and includes several of the tools developped in the team. Do not hesitate to raise an <a href="https://gitlab.inria.fr/cfrioux/ebame/-/issues">issue</a> if something does not work as expected or is unclear.
</div>

<div class="row">
    <h2><span class="text-primary">Teaching activities</span></h2>
    
    {% include print_teaching.html items=site.data.teaching.teaching %}
</div>