---
layout: default
title: misc
rank: 3
---

<div class="starter-template">
    <h1>Miscellaneous</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><span class="text-primary">Scientific dissemination</span></h2>
        {% include print_misc.html misc=site.data.misc.dissemination %}
    </div>
    <div class="col-md-6">
        <h2><span class="text-primary">Teaching</span></h2>
        {% include print_misc.html misc=site.data.misc.teaching %}
    </div>
    <div class="col-md-6">
        <h2><span class="text-primary">Supervising</span></h2>
        {% include print_misc.html misc=site.data.misc.supervision %}
    </div>
    <div class="col-md-6">
        <h2><span class="text-primary">PhD jury</span></h2>
        {% include print_misc.html misc=site.data.misc.phd_juries %}
    </div>
</div>
